// ==============================
// Override Variables
// 覆盖变量
// ==============================
$global-font-size: 19px;
$code-color-dark: #4CBCE6;
$single-link-color-dark: #52B894;
$global-background-color-dark: #292A34;
$code-background-color-dark: #272C2C;
$global-font-color-dark: #E6E6DA;
$single-link-hover-color-dark: #B86653;
$header-background-color-dark: #252627;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
$code-font-family: 'Fira Code', monospace;

